@import "variables";

.container {
  display: flex;
  position: fixed;
  height: 70px;
  width: 375px;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  background-color: $menu-bar-background;

  &_img {
    display: block;
    width: 24px;
    height: 24px;
  }
}
